@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/frontpage.css" asp-append-version="true" />
</head>

<div id="welcome">
    <h1 class="display-4">AppendStyle</h1>
    <button id="btn" onclick="loadStore()" class="btn btn-primary">DISCOVER</button>
</div>

<script>
    function loadStore() {
        window.location.href = 'Store/allProducts';
    }
</script>