@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We are committed to the protection of personal data we process –
    below you’ll find the Privacy Policy, which guides how we collect,
    use, transfer and store the information that you provide us with or
    that we collect about you when interacting with AppendStyle. The
    following information is provided by Fashion for Good to show how we
    comply with applicable rules and regulations such as GDPR and to help
    keep you fully informed about your rights (and how to enforce them).</p>
